[Desktop Entry]
Name=KeePass
GenericName=Password Manager
Exec=~/mc.config/files/keepass/keepassxc %f
Icon=~/mc.config/files/keepass/keepassxc.png
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
Categories=Utility;Security;Qt;
MimeType=application/x-keepass2;